
.wrap-content{
  margin-top:-60px;
  margin-bottom:-60px;
  position: relative;
  z-index: 1;

  .site-content{
    padding: 30px;
  }
}

.content-top,
.home-content-top,
.content-bottom,
.home-content-bottom{
  padding: 20px;
  // margin-top: -2.5em;
  background-color: #EAEAEA;
  color:$gris-medio;
  section {
    margin:0;
  }
  h1, h2, h3, h4{
    margin-top:5px;
  }
}

// .content-bottom,
// .home-content-bottom{
//   margin-top:0;
// }


.site-content{
    background: white;


    &.sidebar{

      #primary{
        width: 74%;
        float:left;
        padding-right: 30px;
      }

      #secondary{
        width:26%;
        float: right;
      }

      &:after{
        content:"";
        display: block;
        clear:both;
      }

    } // sidebar

}


// @media (max-width:960px){
// 
//   .site-content.sidebar{
//     #primary, #secondary{
//       width:100%;
//     }
//   }
//
// }
