
.wrap-content{
  margin-top:-60px;
  margin-bottom:-60px;
  position: relative;
  z-index: 1;

  .site-content{
    padding: 30px;
  }
}

.content-top,
.home-content-top,
.content-bottom,
.home-content-bottom{
  padding: 20px;
  // margin-top: -2.5em;
  background-color: #EAEAEA;
  color:$gris-medio;
  section {
    margin:0;
  }
  h1, h2, h3, h4{
    margin-top:5px;
  }
}

// .content-bottom,
// .home-content-bottom{
//   margin-top:0;
// }


.site-content{
    background: white;


    &.sidebar{

      #primary{
        width: 74%;
        float:left;
        padding-right: 30px;
      }

      #secondary{
        width:26%;
        float: right;
      }

      &:after{
        content:"";
        display: block;
        clear:both;
      }

    } // sidebar

}

//Breadcrumbs , cuando se implementen con plugin
#breadcrumbs,
.breadcrumbs{
  border-bottom: 1px solid $gris-muyclaro;
  padding-bottom: 12px;
}

//Comentarios
.comments-area{

  padding:20px;
  border:1px solid darken($gris-muyclaro,5%);

  ul.comment-list{
    margin-left: 0;
    padding-left: 10px;
  }

  ul.comment-list,
  ul.children{
    list-style: none;
  }

  .comment-body{

      border: 1px solid $gris-muyclaro;
      background-color: #f9f9f9;
      margin-bottom: 10px;
      padding:20px 15px;

      .avatar{
          border-radius: 50%;
      }

      .comment-author{
        cite,
        cite a{
          text-transform: uppercase;
          text-decoration: none;
          font-style: normal;
          margin-left: 4px;
        }
      }

      .reply,
      .commentmetadata{

        text-align: right;

        a{
            color:$gris-claro;
            text-decoration: none;

            &:hover{
              color:$colorprincipal;
            }
        }

        .fa-reply{
          color:$gris-claro;
        }

      }

  } // comment-body


  .comment-form{

    padding:20px;
    background-color: $gris-muyclaro;

    label{
      width:100%;
      display: block;
      color:$gris-claro;
    }

    a{
      color:$gris-claro;

      &:hover{
        color:$colorprincipal;
      }
    }

  } //comment-form

} // comments-area


//pagination
.navigation{

  padding-top:20px;
  margin-top:40px;
  border-top:1px solid $gris-muyclaro;
  text-align: center;

  .page-numbers{
      padding:8px;
      display: inline-block;
      width:40px;
      text-decoration: none;
      border: 1px solid $gris-muyclaro;
  }//page-numbers

  a.page-numbers{

    &:hover{
      color:white;
      background-color:$colorprincipal;
    }

  } //a.page-numbers

} //pagination - navigation


//articles blog
.site-main{
    .entry-title{
      a{
        text-decoration:none;
        color:$gris-medio;
        font-size: 2em;

        &:hover{
          color:$colorprincipal;
        }

      }
    }

    .entry-header{

        .author,
        .cat-links{
          a{
              text-decoration: none;
              color:$gris-claro;

              &:hover{
                color:$colorprincipal;
              }
          }

        }

        .comments-link{
          display: block;
          background-color: $colorprincipal;

          .fa{
            color:white;
            margin-right:2px;
          }

          a{
            text-decoration: none;
            color:white;
          }

        }

    }

    .entry-footer{

        .tags-links a{
            padding:3px 5px;
            background-color: $gris-claro;
            color:white;
            font-size: .8em;
            border-radius: 2px;
            text-decoration: none;
            &:hover{
              background-color: $colorprincipal;
            }
        }

    }

    .wrap-more-link{
        text-align: right;
    }

    .more-link{
      padding: 8px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font3;
      font-size: .8em;
      border:1px solid lighten($gris-claro,15%);
      color:lighten($gris-claro,10%);

      &:hover{
        background-color: $gris-medio;
        color:white;
      }

    }

    .edit-link{
      display: block;
    }

    article.post{
        padding-left: 95px;
        position: relative;
    }

    .wrap-info-article{
      position: absolute;
      top:8px;
      left:0;
      width: 72px;
      text-align: center;
    }

    .date-article{

      color:$gris-claro;
      background-color: $gris-muyclaro;

      .month-year,
      .day{
        display: block;
        border-top: 1px solid white;
      }

      .day{
          font-size: 2.4em;
          font-weight: 700;
          font-family: $font3;
      }

    }



}
