footer{

  &.site-footer{
    background-color: $gris-oscuro;
    padding: 100px 20px 20px;
    font-size: .9em;
    color: $gris-muyclaro;

    a{
      color : $gris-muyclaro;
      text-decoration: none;
      &:hover{
        color: $colorprincipal;
      }
    }
    
    .menu{
      margin:0;
      padding: 0;
      text-align: right;
      li {
        display: inline-block;
        a{
          color:$gris-muyclaro;

          &:hover{
            color:$colorprincipal;
          }
        }

        ul{
          display: none;
        }

        &:not(:last-child):after{
          content:" | ";
          display: inline-block;
          margin-left: 8px;
          margin-right: 8px;
        }

      }
    }
  } //site-footer

}
