
.site-title{
  margin:auto;
  font-family: $font3;
  font-weight: 500;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;

  a{
    width:100%;
    display: block;
    color:white;
    text-decoration: none;
    text-shadow: 1px 1px 2px $texto-sombra;
  }

}

.site-description{
  margin:auto;
  font-family: $font3;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  color:white;
  text-shadow:1px 1px 2px $texto-sombra;
}

header.site-header{
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.header-bottom,
.home-header-bottom{
  padding: 20px;
  text-align: center;
  color:white;
  font-size: 1.6em;

  h1, h2, h3, h4{
    font-family: $font2;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px $texto-sombra;
  }
  h3, h4{
    font-size: 1em;
  }
}

.header-bottom{
    padding: 20px;
    min-height: auto;
    text-align:left;
}

.header-top{
  margin-bottom: 30px;
  border-bottom: 1px dotted rgba($gris-medio,0.5);
}

.custom-logo-link{
  width:100%;
  display: block;
  margin: auto;
  text-align: center;
}

.header-bottom,
.home-header-bottom{

  h1, h2{
    font-size: 2em;
  }


} //.header-bottom,.home-header-bottom

.header-bottom,
.home-header-bottom,
aside{

  .textwidget{

    a{
      text-decoration: none;
      .fa{
          text-align: center;
          line-height: 30px;
          font-size: 20px;
          color:white;
          border-radius: 50%;
          margin-right: 5px;
          background-color: $colorsecundario;
          width: 32px;
          height: 32px;
      }// fa

      &:hover{

        color:white;

        .fa{
          color:white;
          background-color: $gris-oscuro;
        }

        .fa-facebook{
          background-color: #3B579D;
        }
        .fa-twitter{
          background-color: #2DAAE2;
        }
        .fa-rss{
          background-color: #FF9900;
        }
        .fa-google-plus{
          background-color: #DC4A38;
        }
        .fa-pinterest-p{
          background-color: #CB2027;
        }
        .fa-linkedin{
          background-color: #0274B3;
        }

      } //:hover

    } // a

  } // textwidget

}
