
.site-title{
  margin:auto;
  font-family: $font3;
  font-weight: 500;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;

  a{
    width:100%;
    display: block;
    color:$gris-medio;
    text-decoration: none;
  }

}

.site-description{
  margin:auto;
  font-family: $font3;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}

header.site-header{
  padding-bottom: 80px;
}

.header-bottom,
.home-header-bottom{
  padding: 20px;
  text-align: center;
  color:white;
  font-size: 1.6em;

  h1, h2, h3, h4{
    font-family: $font2;
    font-size: 1.8em;
  }
  h3, h4{
    font-size: 1em;
  }
}

.header-bottom{
    padding: 20px;
    min-height: auto;
    text-align:left;
}

.header-top{
  margin-bottom: 30px;
  border-bottom: 1px dotted rgba($gris-medio,0.5);
}

.custom-logo-link{
  width:100%;
  display: block;
  margin: auto;
  text-align: center;
}

.home-header-bottom{
  h1, h2{
    font-size: 2em;
  }
}
