.main-navigation{

  button.menu-toggle{
    width: 100%;
    padding:12px;
    font-size: 1.2em;
    background-color: rgba(white,.8);
    border-radius: 0;
  }

  ul{
    float:right;

    ul{
      top:3em;
      background-color: white;
      border-top:4px solid $colorprincipal;

      li{

        &.current-menu-item {
          a:before{
              content:"\276f";
              display: inline-block;
              margin-right:10px;
            }
        }
                
        a{
          padding: 15px;
          display: block;
          color:$gris-claro;
          border-bottom: 1px solid $gris-muyclaro;
          font-family: $font2;

          &:hover{
              color:$gris-medio;
              background-color: $colorprincipal;
          }

        }

        &:last-child a{
          border-bottom: none;
        }

      } //li

    } //ul

  } //ul

  .nav-menu > li
  {
    margin:5px;
    padding:15px 30px 26px 0px;
    float: none;
    display: inline-block;

    &.current-menu-item ,
    &.current-menu-parent{

      > a{
            color:$colorprincipal;

            &:after{
              content:"";
              margin-top:10px;
              display: block;
              border-top:4px solid $colorprincipal;
            }
        }

    }


    > a{
      font-family: $font1;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1em;
      color:white;

      &:hover{
        color:$colorprincipal;
      }

    }
  }

} // main-navigation



@media (max-width:598px){

  .main-navigation {

    ul{
      width: 100%;
      background-color: white;

      ul{
        border-top: none;
      }

    } //ul

    .nav-menu > li{
      padding:10px 8px;
      display:block;
      position:static;
      border-bottom: 1px solid $gris-muyclaro;

      &.current-menu-item,
      &.current-menu-parent{

        > a{
            &:after{
              border:none;
            }
        }

      }

      > a{
        display: block;
        color:$gris-claro;
      }

    } //.nav-menu > li


    //Sub-menus
    li ul{
      position: static;
      box-shadow: none;
      margin:16px 6px;

      li{

        width: 100%;

        a{
          font-size: .9em;
          display: block;
          width: 100%;
          padding: 10px 8px;

          &:hover{
            background-color: transparent;
            color:$gris-medio;
          }
        } //a

        // &.current_page_item{
        //
        //   a{
        //     // color:$gris-oscuro;
        //     //
        //     // &:before{
        //     //   content:"\276f";
        //     //   display: inline-block;
        //     //   margin-right:10px;
        //     // }
        //
        //   }
        //
        // } //&.current_page_item

      } //li

    } //li ul


  } //main-navigation

}// @media



// .nav-more{
//   display: block;
//   position: absolute;
//   cursor:pointer;
//   top:0;
//   right:0;
//   font-weight: bold;
//   font-size: 20px;
//   &:hover{
//     color:$colorprincipal;
//   }
// }
