body {
  color: #5c5c5c; }

.container {
  max-width: 1240px;
  min-width: 360px; }

a {
  color: #ffcc00; }

.site-title {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase; }
  .site-title a {
    width: 100%;
    display: block;
    color: #5c5c5c;
    text-decoration: none; }

.site-description {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em; }

header.site-header {
  background: url("img/background-header.jpg"); }

.header-home {
  text-align: center;
  min-height: 500px;
  color: white;
  font-size: 1.6em; }

.header-top {
  margin-bottom: 60px;
  border-bottom: 1px dotted rgba(92, 92, 92, 0.5); }

.custom-logo-link {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center; }

.main-navigation button.menu-toggle {
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0; }

.main-navigation ul {
  float: right; }
  .main-navigation ul ul {
    top: 3em;
    background-color: white;
    border-top: 4px solid #ffcc00; }
    .main-navigation ul ul li.current-menu-item a:before {
      content: "\276f";
      display: inline-block;
      margin-right: 10px; }
    .main-navigation ul ul li a {
      padding: 15px;
      display: block;
      color: #999;
      border-bottom: 1px solid #f0f0f0;
      font-family: "Raleway", sans-serif; }
      .main-navigation ul ul li a:hover {
        color: #5c5c5c;
        background-color: #ffcc00; }
    .main-navigation ul ul li:last-child a {
      border-bottom: none; }

.main-navigation .nav-menu > li {
  margin: 5px;
  padding: 15px 30px 26px 0px;
  float: none;
  display: inline-block; }
  .main-navigation .nav-menu > li.current-menu-item > a, .main-navigation .nav-menu > li.current-menu-parent > a {
    color: #ffcc00; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      content: "";
      margin-top: 10px;
      display: block;
      border-top: 4px solid #ffcc00; }
  .main-navigation .nav-menu > li > a {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: white; }
    .main-navigation .nav-menu > li > a:hover {
      color: #ffcc00; }

@media (max-width: 598px) {
  .main-navigation ul {
    width: 100%;
    background-color: white; }
    .main-navigation ul ul {
      border-top: none; }
  .main-navigation .nav-menu > li {
    padding: 10px 8px;
    display: block;
    position: static;
    border-bottom: 1px solid #f0f0f0; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      border: none; }
    .main-navigation .nav-menu > li > a {
      display: block;
      color: #999; }
  .main-navigation li ul {
    position: static;
    box-shadow: none;
    margin: 16px 6px; }
    .main-navigation li ul li {
      width: 100%; }
      .main-navigation li ul li a {
        font-size: .9em;
        display: block;
        width: 100%;
        padding: 10px 8px; }
        .main-navigation li ul li a:hover {
          background-color: transparent;
          color: #5c5c5c; } }
