body {
  color: #5c5c5c;
  font-family: "Raleway", sans-serif;
  background-color: #F2F2F2; }

.container {
  max-width: 1240px;
  min-width: 360px; }

a {
  color: #ffcc00; }

.rounded {
  border-radius: 50%; }

blockquote {
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative; }

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a; }

blockquote cite {
  color: #999;
  font-size: 14px;
  display: block;
  margin-top: 5px; }

blockquote cite:before {
  content: "\2014 \2009"; }

input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  padding: 8px 14px;
  display: inline-block;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #cca300;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px #997a00;
  cursor: pointer;
  outline: none; }
  input[type="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active,
  button:active,
  .button:active {
    background-color: #e6b800;
    box-shadow: 0 1px #cca300;
    transform: translateY(1px); }
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  button:hover,
  .button:hover {
    background-color: #e6b800;
    box-shadow: 0 2px #cca300; }

input,
textarea {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  color: #5c5c5c; }
  input:focus,
  textarea:focus {
    color: #5c5c5c; }

.widget-title {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.4em; }

.widget {
  padding: 15px; }

.site-title {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase; }
  .site-title a {
    width: 100%;
    display: block;
    color: #5c5c5c;
    text-decoration: none; }

.site-description {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em; }

header.site-header {
  padding-bottom: 80px; }

.header-bottom,
.home-header-bottom {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1.6em; }
  .header-bottom h1, .header-bottom h2, .header-bottom h3, .header-bottom h4,
  .home-header-bottom h1,
  .home-header-bottom h2,
  .home-header-bottom h3,
  .home-header-bottom h4 {
    font-family: "Raleway", sans-serif;
    font-size: 1.8em; }
  .header-bottom h3, .header-bottom h4,
  .home-header-bottom h3,
  .home-header-bottom h4 {
    font-size: 1em; }

.header-bottom {
  padding: 20px;
  min-height: auto;
  text-align: left; }

.header-top {
  margin-bottom: 30px;
  border-bottom: 1px dotted rgba(92, 92, 92, 0.5); }

.custom-logo-link {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center; }

.home-header-bottom h1, .home-header-bottom h2 {
  font-size: 2em; }

.main-navigation button.menu-toggle {
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  border-radius: 0; }

.main-navigation ul {
  float: right; }
  .main-navigation ul ul {
    top: 3em;
    background-color: white;
    border-top: 4px solid #ffcc00; }
    .main-navigation ul ul li.current-menu-item a:before {
      content: "\276f";
      display: inline-block;
      margin-right: 10px; }
    .main-navigation ul ul li a {
      padding: 15px;
      display: block;
      color: #999;
      border-bottom: 1px solid #f0f0f0;
      font-family: "Raleway", sans-serif; }
      .main-navigation ul ul li a:hover {
        color: #5c5c5c;
        background-color: #ffcc00; }
    .main-navigation ul ul li:last-child a {
      border-bottom: none; }

.main-navigation .nav-menu > li {
  margin: 5px;
  padding: 15px 30px 26px 0px;
  float: none;
  display: inline-block; }
  .main-navigation .nav-menu > li.current-menu-item > a, .main-navigation .nav-menu > li.current-menu-parent > a {
    color: #ffcc00; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      content: "";
      margin-top: 10px;
      display: block;
      border-top: 4px solid #ffcc00; }
  .main-navigation .nav-menu > li > a {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: white; }
    .main-navigation .nav-menu > li > a:hover {
      color: #ffcc00; }

.wrap-content {
  margin-top: -60px;
  margin-bottom: -60px;
  position: relative;
  z-index: 1; }
  .wrap-content .site-content {
    padding: 30px; }

.content-top,
.home-content-top,
.content-bottom,
.home-content-bottom {
  padding: 20px;
  background-color: #EAEAEA;
  color: #5c5c5c; }
  .content-top section,
  .home-content-top section,
  .content-bottom section,
  .home-content-bottom section {
    margin: 0; }
  .content-top h1, .content-top h2, .content-top h3, .content-top h4,
  .home-content-top h1,
  .home-content-top h2,
  .home-content-top h3,
  .home-content-top h4,
  .content-bottom h1,
  .content-bottom h2,
  .content-bottom h3,
  .content-bottom h4,
  .home-content-bottom h1,
  .home-content-bottom h2,
  .home-content-bottom h3,
  .home-content-bottom h4 {
    margin-top: 5px; }

.site-content {
  background: white; }
  .site-content.sidebar #primary {
    width: 74%;
    float: left;
    padding-right: 30px; }
  .site-content.sidebar #secondary {
    width: 26%;
    float: right; }
  .site-content.sidebar:after {
    content: "";
    display: block;
    clear: both; }

#breadcrumbs,
.breadcrumbs {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 12px; }

.comments-area {
  padding: 20px;
  border: 1px solid #e3e3e3; }
  .comments-area ul.comment-list {
    margin-left: 0;
    padding-left: 10px; }
  .comments-area ul.comment-list,
  .comments-area ul.children {
    list-style: none; }
  .comments-area .comment-body {
    border: 1px solid #f0f0f0;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 20px 15px; }
    .comments-area .comment-body .avatar {
      border-radius: 50%; }
    .comments-area .comment-body .comment-author cite,
    .comments-area .comment-body .comment-author cite a {
      text-transform: uppercase;
      text-decoration: none;
      font-style: normal;
      margin-left: 4px; }
    .comments-area .comment-body .reply,
    .comments-area .comment-body .commentmetadata {
      text-align: right; }
      .comments-area .comment-body .reply a,
      .comments-area .comment-body .commentmetadata a {
        color: #999;
        text-decoration: none; }
        .comments-area .comment-body .reply a:hover,
        .comments-area .comment-body .commentmetadata a:hover {
          color: #ffcc00; }
      .comments-area .comment-body .reply .fa-reply,
      .comments-area .comment-body .commentmetadata .fa-reply {
        color: #999; }
  .comments-area .comment-form {
    padding: 20px;
    background-color: #f0f0f0; }
    .comments-area .comment-form label {
      width: 100%;
      display: block;
      color: #999; }
    .comments-area .comment-form a {
      color: #999; }
      .comments-area .comment-form a:hover {
        color: #ffcc00; }

.navigation {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid #f0f0f0;
  text-align: center; }
  .navigation .page-numbers {
    padding: 8px;
    display: inline-block;
    width: 40px;
    text-decoration: none;
    border: 1px solid #f0f0f0; }
  .navigation a.page-numbers:hover {
    color: white;
    background-color: #ffcc00; }

.site-main .entry-title a {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 2em; }
  .site-main .entry-title a:hover {
    color: #ffcc00; }

.site-main .entry-header .author a,
.site-main .entry-header .cat-links a {
  text-decoration: none;
  color: #999; }
  .site-main .entry-header .author a:hover,
  .site-main .entry-header .cat-links a:hover {
    color: #ffcc00; }

.site-main .entry-header .comments-link {
  display: block;
  background-color: #ffcc00; }
  .site-main .entry-header .comments-link .fa {
    color: white;
    margin-right: 2px; }
  .site-main .entry-header .comments-link a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%; }

.site-main .entry-footer .tags-links a {
  padding: 3px 5px;
  background-color: #999;
  color: white;
  font-size: .8em;
  border-radius: 2px;
  text-decoration: none; }
  .site-main .entry-footer .tags-links a:hover {
    background-color: #ffcc00; }

.site-main .wrap-more-link {
  text-align: right; }

.site-main .more-link {
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-size: .8em;
  border: 1px solid #bfbfbf;
  color: #b3b3b3; }
  .site-main .more-link:hover {
    background-color: #5c5c5c;
    color: white; }

.site-main .edit-link {
  display: block; }

.site-main article.post {
  padding-left: 95px;
  position: relative; }

.site-main .wrap-info-article {
  position: absolute;
  top: 8px;
  left: 0;
  width: 72px;
  text-align: center; }

.site-main .date-article {
  color: #999;
  background-color: #f0f0f0; }
  .site-main .date-article .month-year,
  .site-main .date-article .day {
    display: block;
    border-top: 1px solid white; }
  .site-main .date-article .day {
    font-size: 2.4em;
    font-weight: 700;
    font-family: "Helvetica", sans-serif; }

.site-main.home-site article {
  width: 33%; }
  .site-main.home-site article.post {
    padding-left: 0; }

.site-main.home-site .posted-on {
  display: block; }

.site-main.home-site article {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffcc00;
  min-height: 400px; }
  .site-main.home-site article .wrap-article-home {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: #ffcc00;
    color: white; }
  .site-main.home-site article .entry-title {
    margin-top: 0; }
    .site-main.home-site article .entry-title a {
      font-size: 1.2em;
      color: white; }

aside.widget-area {
  border: 1px solid #f0f0f0;
  padding: 30px 20px; }
  aside.widget-area .search-field {
    width: 75%; }
  aside.widget-area .search-submit {
    padding-left: 0;
    padding-right: 0;
    width: 20%; }
  aside.widget-area .widget {
    padding: 5px; }
  aside.widget-area .widget-title:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 20%;
    height: 4px;
    background-color: #ffcc00; }
  aside.widget-area ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    aside.widget-area ul li {
      display: block;
      width: 100%;
      padding: 5px;
      border-bottom: 1px solid #f0f0f0; }
      aside.widget-area ul li a {
        color: #999;
        text-decoration: none; }
        aside.widget-area ul li a:hover {
          color: #ffcc00; }
  aside.widget-area .widget_recent_entries ul li a:before,
  aside.widget-area .widget_archive ul li a:before,
  aside.widget-area .widget_categories ul li a:before,
  aside.widget-area .widget_meta ul li a:before {
    font-family: "FontAwesome";
    content: "\f061";
    margin-right: 10px;
    font-size: 10px; }

footer.site-footer {
  background-color: #1D1D1D;
  padding: 100px 20px 20px;
  font-size: .9em; }
  footer.site-footer a {
    color: #5c5c5c;
    text-decoration: none; }
    footer.site-footer a:hover {
      color: #ffcc00; }
  footer.site-footer .menu {
    margin: 0;
    padding: 0;
    text-align: right; }
    footer.site-footer .menu li {
      display: inline-block; }
      footer.site-footer .menu li a {
        color: #999; }
        footer.site-footer .menu li a:hover {
          color: #ffcc00; }
      footer.site-footer .menu li ul {
        display: none; }
      footer.site-footer .menu li:not(:last-child):after {
        content: " | ";
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px; }

@media screen and (min-width: 598px) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

@media (max-width: 960px) {
  .site-content.sidebar #primary, .site-content.sidebar #secondary {
    width: 100%; } }

@media (max-width: 768px) {
  footer.site-footer .menu {
    margin-top: 16px;
    text-align: left; } }

@media (max-width: 598px) {
  .main-navigation ul {
    width: 100%;
    background-color: white; }
    .main-navigation ul ul {
      border-top: none; }
  .main-navigation .nav-menu > li {
    padding: 10px 8px;
    display: block;
    position: static;
    border-bottom: 1px solid #f0f0f0; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      border: none; }
    .main-navigation .nav-menu > li > a {
      display: block;
      color: #999; }
  .main-navigation li ul {
    position: static;
    box-shadow: none;
    margin: 16px 6px; }
    .main-navigation li ul li {
      width: 100%; }
      .main-navigation li ul li a {
        font-size: .9em;
        display: block;
        width: 100%;
        padding: 10px 8px; }
        .main-navigation li ul li a:hover {
          background-color: transparent;
          color: #5c5c5c; } }
