body {
  color: #5c5c5c;
  font-family: "Raleway", sans-serif;
  background-color: #F2F2F2; }

.container {
  max-width: 1240px;
  min-width: 360px; }

a {
  color: #ffcc00; }

.rounded {
  border-radius: 50%; }

blockquote {
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative; }

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a; }

blockquote cite {
  color: #999;
  font-size: 14px;
  display: block;
  margin-top: 5px; }

blockquote cite:before {
  content: "\2014 \2009"; }

.site-title {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase; }
  .site-title a {
    width: 100%;
    display: block;
    color: #5c5c5c;
    text-decoration: none; }

.site-description {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em; }

header.site-header {
  padding-bottom: 80px; }

.header-bottom,
.home-header-bottom {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1.6em; }
  .header-bottom h1, .header-bottom h2, .header-bottom h3, .header-bottom h4,
  .home-header-bottom h1,
  .home-header-bottom h2,
  .home-header-bottom h3,
  .home-header-bottom h4 {
    font-family: "Raleway", sans-serif;
    font-size: 1.8em; }
  .header-bottom h3, .header-bottom h4,
  .home-header-bottom h3,
  .home-header-bottom h4 {
    font-size: 1em; }

.header-bottom {
  padding: 20px;
  min-height: auto;
  text-align: left; }

.header-top {
  margin-bottom: 30px;
  border-bottom: 1px dotted rgba(92, 92, 92, 0.5); }

.custom-logo-link {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center; }

.main-navigation button.menu-toggle {
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0; }

.main-navigation ul {
  float: right; }
  .main-navigation ul ul {
    top: 3em;
    background-color: white;
    border-top: 4px solid #ffcc00; }
    .main-navigation ul ul li.current-menu-item a:before {
      content: "\276f";
      display: inline-block;
      margin-right: 10px; }
    .main-navigation ul ul li a {
      padding: 15px;
      display: block;
      color: #999;
      border-bottom: 1px solid #f0f0f0;
      font-family: "Raleway", sans-serif; }
      .main-navigation ul ul li a:hover {
        color: #5c5c5c;
        background-color: #ffcc00; }
    .main-navigation ul ul li:last-child a {
      border-bottom: none; }

.main-navigation .nav-menu > li {
  margin: 5px;
  padding: 15px 30px 26px 0px;
  float: none;
  display: inline-block; }
  .main-navigation .nav-menu > li.current-menu-item > a, .main-navigation .nav-menu > li.current-menu-parent > a {
    color: #ffcc00; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      content: "";
      margin-top: 10px;
      display: block;
      border-top: 4px solid #ffcc00; }
  .main-navigation .nav-menu > li > a {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: white; }
    .main-navigation .nav-menu > li > a:hover {
      color: #ffcc00; }

@media (max-width: 598px) {
  .main-navigation ul {
    width: 100%;
    background-color: white; }
    .main-navigation ul ul {
      border-top: none; }
  .main-navigation .nav-menu > li {
    padding: 10px 8px;
    display: block;
    position: static;
    border-bottom: 1px solid #f0f0f0; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      border: none; }
    .main-navigation .nav-menu > li > a {
      display: block;
      color: #999; }
  .main-navigation li ul {
    position: static;
    box-shadow: none;
    margin: 16px 6px; }
    .main-navigation li ul li {
      width: 100%; }
      .main-navigation li ul li a {
        font-size: .9em;
        display: block;
        width: 100%;
        padding: 10px 8px; }
        .main-navigation li ul li a:hover {
          background-color: transparent;
          color: #5c5c5c; } }

.wrap-content {
  margin-top: -60px;
  margin-bottom: -60px;
  position: relative;
  z-index: 1; }
  .wrap-content .content-area {
    padding: 20px; }

.content-top,
.home-content-top,
.content-bottom,
.home-content-bottom {
  padding: 20px;
  background-color: #EAEAEA;
  color: #5c5c5c; }
  .content-top section,
  .home-content-top section,
  .content-bottom section,
  .home-content-bottom section {
    margin: 0; }
  .content-top h1, .content-top h2, .content-top h3, .content-top h4,
  .home-content-top h1,
  .home-content-top h2,
  .home-content-top h3,
  .home-content-top h4,
  .content-bottom h1,
  .content-bottom h2,
  .content-bottom h3,
  .content-bottom h4,
  .home-content-bottom h1,
  .home-content-bottom h2,
  .home-content-bottom h3,
  .home-content-bottom h4 {
    margin-top: 5px; }

.site-content {
  background: white; }
  .site-content.sidebar #primary {
    width: 78%;
    float: left; }
  .site-content.sidebar #secondary {
    width: 20%;
    float: right; }
  .site-content.sidebar:after {
    content: "";
    display: block;
    clear: both; }

@media (max-width: 768px) {
  .site-content.sidebar #primary, .site-content.sidebar #secondary {
    width: 100%; } }

footer.site-footer {
  background-color: #1D1D1D;
  padding: 100px 20px 20px;
  font-size: .9em; }
  footer.site-footer a {
    color: #5c5c5c;
    text-decoration: none; }
    footer.site-footer a:hover {
      color: #ffcc00; }
  footer.site-footer .menu {
    margin: 0;
    padding: 0;
    text-align: right; }
    footer.site-footer .menu li {
      display: inline-block; }
      footer.site-footer .menu li a {
        color: #999; }
        footer.site-footer .menu li a:hover {
          color: #ffcc00; }
      footer.site-footer .menu li ul {
        display: none; }
      footer.site-footer .menu li:not(:last-child):after {
        content: " | ";
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px; }

@media (max-width: 768px) {
  footer.site-footer .menu {
    margin-top: 16px;
    text-align: left; } }
